@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  * {
    box-sizing: border-box;
  }
  font-family: 'Inter', sans-serif;
}

#__next {
  width: 100dvw;
  height: 100dvh;
  background-color: $light;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}