@import 'variables.scss';


.Button {
  all: unset;
  padding: 1em;
  border-radius: 8px;
  background-color: $dark;
  color: $light;
  cursor: pointer;
  width: max-content;
  box-sizing: border-box;

  display: flex;
  gap: 1em;
  align-items: center;

  &.fill {
    width: 100%;
    justify-content: center;
  }

  &.circular {
    border-radius: 100px;
  }

  &.primary {
    background: $primary-background;
  }

  &:hover {
    opacity: 0.9;
  }

  min-height: 4em;
  min-width: 4em;
  img {
    height: 100%;
  }

}