@import 'variables.scss';

.Circle {
  @include page;

  .list {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 1em;
    overflow-y:auto;
    padding: 1em;

    .item {
    }
  }
}