@import 'variables.scss';

.Home {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gilroy-Bold', sans-serif;
    color: $primary;
    h1 {

        font-variant-ligatures: none;

      font-size: 4em;
    }
  }
}